<%= form_for(:session, url: login_path) do |f| %>

  <div class="field">
    

    <%= f.label :email, 'Email:' %>
    <%= f.text_field :email, size: 20, maxlength:50 %> <br />

    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.submit 'ログイン' %>

  </div>

<% end %>