<%= form_for(@play) do |f| %>

  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, size: 20, maxlength:25 %> <br />

    <%= f.label :email, 'Email:' %>
    <%= f.text_field :email, size: 20, maxlength:50 %> <br />

    <%= f.label :password, 'Password' %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
    
    <%= f.submit '登録' %>

  </div>

<% end %>